.other-controls {
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    font-size: 12px;
    width: 100%;
    animation-name: fadeIn;
    animation-duration: 1s;
}

@keyframes fadeIn {
    0% { opacity: 0}
    100% { opacity: 1}
}

.other-controls > p {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
.other-controls > button {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}