#map {
    transition: 0.5s;
}

.map-border {
    width: 505px;
    padding: 20px;
    border: solid 1px rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
}

.map-container {
    width: 541px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}

.info {
    display: inline-block;
}